# Environment
.env

# Virtual environments
venv/
.venv/

# Python
__pycache__/
*.py[cod]

# Testing
.pytest_cache/

# Type checking
.mypy_cache/

# Ruff
.ruff_cache/

# IDE
.idea/
.vscode/

# macOS
.DS_Store